<div class="jumbotron p-5 mb-4 bg-body-tertiary rounded-3">
      <div class=" container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to  WeVote</h1>
        <p class="col-md-8 fs-4">"WeVote: Your streamlined solution for democratic participation. With a user-friendly interface, secure encryption, and flexible voting methods, VoteEase makes casting your vote simple and convenient. Whether it's a national election or a local referendum, VoteEase ensures your voice is heard, while empowering organizers with efficient administrative tools. Join the digital democracy movement with VoteEase – download now and make your mark on the future."</p>
        <button class="btn btn-primary btn-lg" type="button">Sign Up to Vote </button>
        <button class="btn btn-primary btn-lg" type="button">Sign Up to Create Ballots </button>
      </div>
</div>
