<div class="jumbotron p-5 mb-4  rounded-3">
      <div class=" summary container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to  WeVote</h1>
        <button class="btn btn-warning btn-lg" type="button">Sign Up to Vote </button>
        <button class="btn btn-warning btn-lg" type="button">Sign Up to Create Ballots </button>
      </div>
</div>
