/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-image: asset_url("try3.jpg");
    position: relative;
    min-height: 100vh;
}

.jumbotron {
    opacity: 0.9;
    height: 100px;
    position: absolute;
    top: 50;
    width: 100%;
    color: black;
}

.summary {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.main-ballot-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
}

.ballots-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: black;
    width: auto;
    height: 50vh;
    border-radius: 10px;
    overflow: scroll;
}

.card {
    height: 20vh;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    color: black;
}

.ballots-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Footer height */
}

.listing {
    overflow: scroll;
    height: 50vh;
}