<!-- Remove the container if you want to extend the Footer to full width. -->

  <footer style="background-color: black;" id= "footer">
    <div class="container ">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3 text-dark">About Us</h5>
          <p>WeVote: Your streamlined solution for democratic participation. With a user-friendly interface, secure encryption, and flexible voting methods, VoteEase makes casting your vote simple and convenient. Whether it's a national election or a local referendum, VoteEase ensures your voice is heard, while empowering organizers with efficient administrative tools. Join the digital democracy movement with WeVote
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3 text-dark">links</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f;">FAQ</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f;">Classes</a>
            </li>
            
          </ul>
        </div>
        
      
    </div>
    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="#">MenyindaGroup</a>
    </div>
    <!-- Copyright -->
  </footer>

<!-- End of .container -->